sudo: required
services:
  - docker
language: node_js
node_js:
  - "6"
  - "8"
before_install:
  - npm i @npm-wharf/shipwright -g
  - printf "@npm:registry=https://enterprise.npmjs.com" >> ~/.npmrc

after_success:
  - npm run coverage
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - shipwright build image --repo=npmjs --name=couch-url-rewrite-proxy
